In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from google import genai
import re

client = genai.Client(api_key="AIzaSyBh2xX2LL6pCu-C0uY6gHITH535vglwaOk")

In [2]:
df = pd.read_csv("ecommercereviews.csv")

In [3]:
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [4]:
df=df[["Clothing ID","Review Text"]].rename(columns={"Clothing ID":"id" , "Review Text" : "review"})

In [5]:
df.head()

     id                                             review
0   767  Absolutely wonderful - silky and sexy and comf...
1  1080  Love this dress!  it's sooo pretty.  i happene...
2  1077  I had such high hopes for this dress and reall...
3  1049  I love, love, love this jumpsuit. it's fun, fl...
4   847  This shirt is very flattering to all due to th...

In [6]:
print(df["review"].iloc[1])

Love this dress!  it's sooo pretty.  i happened to find it in a store, and i'm glad i did bc i never would have ordered it online bc it's petite.  i bought a petite and am 5'8".  i love the length on me- hits just a little below the knee.  would definitely be a true midi on someone who is truly petite.

In [7]:
df2 = df.head()

In [8]:
df2

     id                                             review
0   767  Absolutely wonderful - silky and sexy and comf...
1  1080  Love this dress!  it's sooo pretty.  i happene...
2  1077  I had such high hopes for this dress and reall...
3  1049  I love, love, love this jumpsuit. it's fun, fl...
4   847  This shirt is very flattering to all due to th...

In [9]:
question = "give me list. give me just the topic names of supporting_category and opposing_category. give me a dictionary. just return two python arrays one with supporting_category and another with opposing_category. For example supporting_category = ['Comfort', 'Texture'] opposing_category = ['Cost', 'Durability']"

In [10]:
df_words=pd.DataFrame(columns=["id","sentiment","supporting_words","opposing_words"])

In [11]:
question2 = "this is the review feedback text does it prodive positive or negative sentiment overall.Just answer in one word"

In [12]:
for i in range(len(df2)):
    #print(i)

    response = client.models.generate_content(
    model="gemini-2.0-flash",
    contents=df2["review"].iloc[i] + "       "+question)

    #print(response.text)
    
    response2 = client.models.generate_content(
    model="gemini-2.0-flash",
    contents=df2["review"].iloc[i] + "       "+question2)
    
    #print(response2.text)

    pattern = r"supporting_category = \[(.*?)\]"
    pattern2 = r"opposing_category = \[(.*?)\]"

    matches = re.search(pattern, response.text)
    matches2 = re.search(pattern2, response.text)

    temp=matches.group(1)
    temp2=matches2.group(1)

    temp=[i.strip().strip("'") for i in temp.split(",")]
    temp2=[i.strip().strip("'") for i in temp2.split(",")]

    df_words.loc[len(df_words)]= {"id":df2["id"].iloc[i],"sentiment":response2.text.split()[0],"supporting_words":temp,"opposing_words":temp2}

ClientError: 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'Resource has been exhausted (e.g. check quota).', 'status': 'RESOURCE_EXHAUSTED'}}

In [13]:
df_words

     id   sentiment                supporting_words             opposing_words
0   767  Positive\n  [Comfort, Texture, Aesthetics]               [Cost, Care]
1  1080  Positive\n                    [Fit, Style]                   [Sizing]
2  1077  Negative\n                           [Fit]  [Design, Sizing, Quality]